

/* This is a single-line comment */




<style>
#header {
background-color:black;
color:white;
text-align:center;
padding:10px;
}
#nav {
line-height:30px;
background-color:#eeeeee;
height:25px;
width:100%;
float:center;
padding:10px;
}
#section {
	
background-color:#444C69;
height:50px;
width:70%;
float:left;
padding:10px;


#aside {
	
	background-color:#01818D;
width:70%;
height:100px;
float:right;
padding:10px;
}
#article {
width:30%;
height:50px;
float:left;
padding:10px;

#footer {
background-color:black;
color:white;
clear:both;
text-align:center;
padding:5px;
}







</style>