body {
 background-color: lightgrey;
 color: white;
}
h1 {
font-size: 30px;
border-radius: 10px;
}
p {
font-size: 12px;
 color: blue;
 
}

.borderdots{
	border-style: dotted;
	  border-width: 2px;
	height: 100px;
  width: 100px
}


ol{
    list-style-type: lower-latin;
}


ul {
  list-style-type: square;
 
}

