

/* This is a single-line comment */




<style>
#header {
background-color:black;
color:white;
text-align:center;
padding:5px;
}
#nav {
line-height:30px;
background-color:#eeeeee;
height:200px;
width:100%;
float:center;
padding:10px;
}
#section {
width:70%;
float:left;
padding:10px;


#article {
width:70%;
float:left;
padding:10px;
}
#aside {
width:30%;
float:right;
padding:10px;

#footer {
background-color:black;
color:white;
clear:both;
text-align:center;
padding:5px;
}





body {
width: 90%;
margin-left: auto;
margin-right: auto;
}  

</style>